    <div class="detailBox">
    <div class="titleBox">
      <label>Commentaires</label>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            {%  for comment in comments %}
                <li>
                <div class="commenterImage">
                 <img src="{{ comment.author.avatar }}" />
                </div>
                    <div class="commentText">
                    <p class="">
                {{comment.text}}&nbsp;<span class="date sub-text">le {{ comment.date }}</span>
                        </p>
                        </div>
                </li>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        <form action="{% url "recipe.show" id=recipe.id slug=recipe.slug %}" method="post">{% csrf_token %}
            <div class="form-group" style="width: 100%">
                {{ form.text}}
            </div>
                <button type="submit"
                        style="margin: auto; width: 250px; "
                        class="btn btn-primary btn-block btn-lg">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter le commentaire
                </button>
        </form>
    {% endif %}
    </div>
