{% extends "skeleton.html" %}
{% block leftbar %}
    {% include "recipe/categories.html" %}
{% endblock %}
{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="col-md-1">Date</th>
            <th class="col-md-4">Titre</th>
            <th class="col-md-1">Note</th>
            <th class="col-md-1">Difficulté</th>
            <th class="col-md-3">Temps de préparation</th>
            <th class="col-md-3">Temps de cuisson</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
            <tr class="clickable-row" data-href="/recettes/{{ recipe.id }}-{{ recipe.slug }}">
                <td>{{ recipe.date|date:"d/m/Y" }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.note }}</td>
                <td>{{ recipe.hard}}</td>
                <td>{{ recipe.preparationTime }}</td>
                <td>{{ recipe.cuissonTime }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Aucune recette</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block title %}
    Accueil
{% endblock %}

{% block titlePage %}
    Cuis-In
{% endblock %}
{% block subtitle %}
    Liste des recettes
{% endblock %}

{% block javascript %}
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
{% endblock %}