{% extends "skeleton.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="bs-component">
                <ul class="nav nav-pills nav-stacked">
                    {% for category in categories %}
                        <li
                            {% if category.slug = currentCat.slug %}
                                class="active"
                            {% endif %}
                                >
                            <a href="/recettes/{{ category.slug }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            {% for recipe in recipes %}
                <li>{{ recipe.title }}</li>
            {% empty %}
                <p>Aucune recette.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}
    Accueil
{% endblock %}

{% block titlePage %}
    Cuis-In
{% endblock %}
{% block subtitle %}
    Liste des recettes
{% endblock %}