{% extends "skeleton.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 panel panel-default">
            <div class="panel-body">
            <ul style="list-style-type: none">
                <li><i class="glyphicon glyphicon-cutlery"></i>&nbsp;&nbsp;Couvert: {{ recipe.serves }}</li>
                <li><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;Temps de préparation: {{ recipe.preparationTime }}</li>
                <li><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;Temps de cuisson: {{ recipe.cuissonTime }}</li>
            </ul>
            </div>
        </div>
        <div class="col-md-offset-4 col-md-3 panel panel-default">
            <div class="panel-body">
                <ul style="list-style-type: none">
                    <li>Note: {{ recipe.note }}</li>
                    <li>Difficulté: {{ recipe.hard }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Ingrédients</b></div>
            <div class="panel-body">
                <ul>
                    {% for ingredient in recipe.ingredients.all %}
                        <li>{{ ingredient.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Préparation</b></div>
            <div class="panel-body">
                {{ recipe.preparation }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Accueil
{% endblock %}

{% block titlePage %}
    Afficher une recette
{% endblock %}

{% block subtitle %}
    {{ recipe.title }}
{% endblock %}

{% block leftbar %}
    {% include "recipe/categories.html" %}
{% endblock %}