{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cuis-In — {% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootswatch.min.css" %}">
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Cuis-In</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/recettes/ajouter">Ajouter une recette</a>
            </li>
            <li>
              <a href="/recettes/rechercher">Recherche</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Truc</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Machin</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">
    <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>{% block titlePage %}{% endblock %}</h1>
            <p class="lead">{% block subtitle %}{% endblock %}</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
          </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-md-3">
                {% block leftbar %} {% endblock %}
            </div>
            <div class="col-xs-9 col-md-9">
            {% block content %} {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>